<%- include('../partials/header') %>

<main class="container d-flex flex-column flex-fill justify-content-center">
  <h1 class="text-center mb-4">Edição de Usuário</h1>

  <form action="/produtos/<%= produto.id %>" method="POST">
    <div class="mb-3">

 <!-- Caixinha de nome de produto -->
      <label for="inputNome" class="form-label fs-2 mt-2">
        Nome de produto
      </label>
      <input
        type="text"
        class="form-control form-control-lg"
        id="inputNome"
        name="nome"
        value="<%= produto.nome %>"
        placeholder="Digite o nome de produto"
        required
      />

      <!-- Caixinha de descrição de produto -->
      <label for="inputDescricao" class="form-label fs-2 mt-2">
        Descrição
      </label>
      <input
        type="text"
        class="form-control form-control-lg"
        id="inputDescricao"
        name="descricao"
        value="<%= produto.descricao %>"
        placeholder="Digite a descrição de produto"
        required
      />

      <div class="row">
        <div class="col">
          <!-- Caixinha de tipo de produto -->
          <label class="form-label fs-2 mt-2"> Categoria de produto </label>
          <select class="form-select form-select-lg mb-3" name="tipo">
            <option value="Alimentos" <%= produto.tipo === "Alimentos" ? "selected" : "" %>> Alimentos</option>
            <option value="Bebidas" <%= produto.tipo === "Bebidas" ? "selected" : "" %>> Bebidas</option>
            <option value="Eletrônicos" <%= produto.tipo === "Eletrônicos" ? "selected" : "" %>> Eletrônicos</option>
          </select>
          <!-- Caixinha de preço de produto -->
          <label for="inputPreco" class="form-label fs-2 mt-2"> Preço </label>
          <input
            type="number"
            step="0.1"
            class="form-control form-control-lg"
            id="inputPreco"
            name="preco"
            value="<%= produto.preco %>"
            placeholder="Digite o preço de produto"
            required
          />

          <!-- Caixinha de quantidade de produto -->
          <label for="inputQuantidade" class="form-label fs-2 mt-2">
            Quantidade
          </label>
          <input
            type="number"
            step="1"
            class="form-control form-control-lg"
            id="inputQuantidade"
            name="quantidade"
            value="<%= produto.quantidade %>"
            placeholder="Digite a quantidade de produto"
            required
          />
        </div>
        <div class="col">
          <!-- Caixinha de imagem de produto -->
          <label for="inputImagem" class="form-label fs-2 mt-2">
            Imagem de produto
          </label>
          <input
            type="text"
            class="form-control form-control-lg"
            id="inputImagem"
            name="imagemUrl"
            value="<%= produto.imagemUrl %>"
            placeholder="Digite o link de imagem do produto"
            required
          />
          <img
            src="https://www.malhariapradense.com.br/wp-content/uploads/2017/08/produto-sem-imagem.png"
            class="rounded mx-auto d-block mt-2"
            width="250px"
            height="250px"
          />
        </div>
      </div>

    <div class="d-flex justify-content-between mt-4">
      <a href="/produtos" class="btn btn-secondary btn-lg">Voltar</a>
      <button type="submit" class="btn btn-success btn-lg">Salvar Alterações</button>
    </div>
  </form>
</main>

<%- include('../partials/footer') %>
